

.button {
    background-color: #FF9900;
    color: white;
    padding: 0px 14px !important;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

/* responsive mobile device */
@media screen and (max-width: 576px) {
    .button {
        background-color: #FF9900;
        color: white;
        padding: 6px 120px !important;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        border: none;
    }
}